Intelligent Cloud Document Analyst/HW-project (2).json
{
  "name": "HW-project",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -32
      ],
      "id": "1d1680d1-9b0b-423d-af60-611587593ed4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/data/incoming_docs/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        0
      ],
      "id": "26097fb5-05e5-41c8-83fb-80d9fdba4d1d",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        384,
        -208
      ],
      "id": "288c5250-e24d-4212-a840-1837ff9ba637",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a cybersecurity SOC analyst. Analyze the following security log/alert and respond ONLY with valid JSON in this exact structure:\n\n{\n  \"summary\": \"1-2 sentence plain-language summary of what happened\",\n  \"severity\": \"low|medium|high|critical\",\n  \"incident_type\": \"e.g. brute_force, malware, phishing, unauthorized_access, data_exfiltration, other\",\n  \"affected_entities\": {\n    \"ip_addresses\": [],\n    \"usernames\": [],\n    \"hostnames\": []\n  },\n  \"indicators_of_compromise\": [],\n  \"recommended_action\": \"short recommended next step for the SOC team\",\n  \"confidence\": \"low|medium|high\"\n}\n\nLog content:\n{{ $json.data }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1152,
        -32
      ],
      "id": "2261bc1f-68bb-4af3-a047-e9b6b4f70732",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "V2xs2CYusmzUjoJr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content.parts[0].text;\n\n// Gemini sometimes wraps JSON in ```json ... ``` markdown fences — strip them\nconst cleaned = rawText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nconst analysis = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    ...analysis,\n    original_log: $input.first().json.data,\n    file_name: $('Read/Write Files from Disk').first().json.fileName,\n    analyzed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -16
      ],
      "id": "82574033-6c65-4f0a-8813-f7ad00503a05",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        0
      ],
      "id": "efdd5053-4719-4298-ac3f-957c13478676",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-iop0IFt2UgZFkv-0lfJqtI_9r15m_yKXlyXrXq4poU",
          "mode": "list",
          "cachedResultName": "Cyber Incidents Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-iop0IFt2UgZFkv-0lfJqtI_9r15m_yKXlyXrXq4poU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-iop0IFt2UgZFkv-0lfJqtI_9r15m_yKXlyXrXq4poU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $json.file_name }}",
            "analyzed_at": "={{ $json.analyzed_at }}",
            "summary": "={{ $json.summary }}",
            "severity": "={{ $json.severity }}",
            "incident_type": "={{ $json.incident_type }}",
            "risk_score": "={{ $json.risk_score }}",
            "routing_team": "={{ $json.routing_team }}",
            "sla_minutes": "={{ $json.sla_minutes }}",
            "requires_escalation": "={{ $json.requires_escalation }}",
            "ip_addresses": "={{ $json.affected_entities.ip_addresses }}",
            "usernames": "={{ $json.affected_entities.usernames }}",
            "hostnames": "={{ $json.affected_entities.hostnames }}",
            "recommended_action": "={{ $json.recommended_action }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "incident_type",
              "displayName": "incident_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "routing_team",
              "displayName": "routing_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sla_minutes",
              "displayName": "sla_minutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requires_escalation",
              "displayName": "requires_escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ip_addresses",
              "displayName": "ip_addresses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usernames",
              "displayName": "usernames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hostnames",
              "displayName": "hostnames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        -128
      ],
      "id": "0587858e-6e0a-49db-bec0-06e371fd19fa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "35EDZYCCGlqF3ix0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst markdown = `# Incident Report: ${item.file_name}\n\n**Analyzed at:** ${item.analyzed_at}\n**Severity:** ${item.severity.toUpperCase()}\n**Risk Score:** ${item.risk_score}/100\n**Routing Team:** ${item.routing_team}\n**SLA:** ${item.sla_minutes} minutes\n**Escalation Required:** ${item.requires_escalation ? 'YES' : 'No'}\n\n## Summary\n${item.summary}\n\n## Affected Entities\n- IPs: ${item.affected_entities.ip_addresses.join(', ') || 'none'}\n- Usernames: ${item.affected_entities.usernames.join(', ') || 'none'}\n- Hostnames: ${item.affected_entities.hostnames.join(', ') || 'none'}\n\n## Recommended Action\n${item.recommended_action}\n\n## Original Log\n\\`\\`\\`\n${item.original_log}\n\\`\\`\\`\n`;\n\nreturn [{\n  json: { ...item },\n  binary: {\n    report: {\n      data: Buffer.from(markdown).toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `${item.file_name.replace('.txt', '')}_report.md`\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        0
      ],
      "id": "77dc2368-4b9e-4845-b97f-b980ccf42222",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/output_docs/{{ $binary.report.fileName }}",
        "dataPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        -16
      ],
      "id": "1b7f8c08-e165-4250-84fe-f91fa879341c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "=mv /data/incoming_docs/{{ $('Read/Write Files from Disk').first().json.fileName }} /data/incoming_docs/processed/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2736,
        0
      ],
      "id": "2221df7a-a093-4b8f-a564-657d5611e2bc",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e784bfa1-9d34-42ca-9f4e-172b70a2be63",
              "leftValue": "={{ $json.requires_escalation }} ",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        144
      ],
      "id": "57560121-e1fb-43c9-bd79-3414358cc5e0",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "yovel20031@gmail.com",
        "subject": "=🚨 SOC Alert: {{ $json.incident_type }} - Risk {{ $json.risk_score }}",
        "message": "=Incident detected requiring escalation.  Severity: {{ $json.severity }} Risk Score: {{ $json.risk_score }}/100 Routing Team: {{ $json.routing_team }} SLA: {{ $json.sla_minutes }} minutes  Summary: {{ $json.summary }}  Recommended Action: {{ $json.recommended_action }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2320,
        160
      ],
      "id": "09bc8761-8e25-46fd-ab48-226b434d1930",
      "name": "Send a message",
      "webhookId": "317a953e-e9f6-4040-b358-b1e6ac50c204",
      "credentials": {
        "gmailOAuth2": {
          "id": "BRSWKty02Jkial5u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e670310-0ec9-46b5-a5b1-70490ebbf141"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d8a9e804-85b2-4f8f-9ace-2d431d13cd9f",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e69e4f8-5e4f-4c28-9633-6407fa1406a9",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        144,
        -32
      ],
      "id": "f76ec9de-1ad6-46ff-9680-a62c19f14795",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        -16
      ],
      "id": "01ce8935-1a4b-4ae1-84f8-81baad3007fa",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "99fb5303-0a3b-4b19-91b0-7e3c424a6326",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        -48
      ],
      "id": "d735f08c-e47d-44de-9eaa-3408f6e17dd0",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/extract-docx",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"base64_data\": \"{{ $json.data }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        192
      ],
      "id": "8c3cee3f-e089-4382-b5f2-e6f095851447",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: $input.first().json.text,\n    fileName: $('Read/Write Files from Disk').first().json.fileName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        208
      ],
      "id": "be4dda6e-8cf5-4f53-b5ed-6f67da245cd7",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e8ac8a7e-f237-4fb2-8c60-211135c2a0ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1518e54ee4de99efd532efa5c09c266a6e9516f2cadccda2a5658b21d19d9b6"
  },
  "nodeGroups": [],
  "id": "sUiKwGpCjWWB6D6u",
  "tags": []
}